/* _bigProductButtons */ 

.bigProductButtons {
    background-color:var(--color-white);
    padding-top:35px;
    padding-bottom:35px;
    .container {
        padding-left:30px;
        padding-right:30px;

        .btn-left {
            .bg-image {
                background:url('../images/product-btn-bg-xl-2.jpg') no-repeat center;
                padding-top: 68.75%;
            }
            margin-left:20px;
            @include respond-to(tablet-portrait) { 
                margin-left:0;
            }
        }
        .btn-right {
            .bg-image {
                background:url('../images/product-btn-bg-xl-1.jpg') no-repeat center;
                padding-top: 68.75%;
            }
            margin-right:20px;
            @include respond-to(tablet-portrait) { 
                margin-right:0;
            }
        }

        .bigProductButtons-content {
            position:absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%,-50%);
        }
    }
}

.btn-dark {
    background-color:var(--color-black);
    color:var(--color-white);
    padding:5px 15px;
    border-color:transparent;

    &:hover {
        background-color:var(--color-white);
        color:var(--color-black);
        border-color:var(--color-black);
    }
}
