/* _bigProductButtons */ 

.bigProductButtons {
    background-color:var(--color-white);
    padding-top:35px;
    padding-bottom:35px;
    .container {
        padding-left:30px;
        padding-right:30px;

        .btn-left {
            background:url('../images/product-btn-bg-xl-2.jpg') no-repeat center;
            margin-left:20px;
            @include respond-to(tablet-portrait) { 
                margin-left:0;
            }
        }
        .btn-right {
            background:url('../images/product-btn-bg-xl-1.jpg') no-repeat center;
            margin-right:20px;
            @include respond-to(tablet-portrait) { 
                margin-right:0;
            }
        }
    }
}