/* body */ 
*:focus,*:active{
    outline-style:none
}
body {
    background-color:var(--color-body);
    font-size:12px;
}

.bodyWhiteBg{
    background: #fff;
}

#bodyContent{
    width: 100%; 
    font-size: 15px;
}

h1.heading-center{
    font-size: 36px; 
    font-weight: 400;
    padding-bottom: 20px; 
    text-transform: uppercase; 
    color: #125998; 
    text-align: center; 
    position:relative;
    small{
        font-size: 14px; 
        display: block;
        font-family: $roboto;
        font-weight: $regular;
        letter-spacing: 1.2px;
    }

    &.white{
        color: white;
    }

    &:after{
        background: rgb(85,202,182); /* Old browsers */
        background: -moz-linear-gradient(left,  rgba(85,202,182,1) 0%, rgba(74,151,196,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(85,202,182,1) 0%,rgba(74,151,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(85,202,182,1) 0%,rgba(74,151,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55cab6', endColorstr='#4a97c4',GradientType=1 ); /* IE6-9 */

        content: ''; 
        width: 195px; 
        height: 7px; 
        position: absolute; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        margin: auto;
    }
}