/* Footer */ 

.footer {
    background-image: linear-gradient(to top, #1f9499 0%, #084470 100%);
    padding-top: 45px;
    padding-bottom: 70px;


    &_header {
        font-size:16px;
        color:var(--color-PuertoRico);
        font-weight:normal;
        margin-top:5px;
        margin-bottom:5px;
    }

    &_links_list {
        li {
            a {
                color:var(--color-white);
                text-decoration:none;
            }

            padding-bottom:15px;

            &:last-child {
                padding-bottom:0;    
            }
        }
    }

    &-btn-group {
        @include respond-to(phone) { 
            margin-top:1rem;
        }
    }

    .tel,
    .mail,
    p {
        color:var(--color-white);
    }

    .tel {
        text-decoration:none
    }

}

.btn-footer {
    border-color:var(--color-PuertoRico);
    color:var(--color-PuertoRico);
    margin-top:.5rem;
    margin-bottom:.5rem;


    &:hover {
        background-color:var(--color-PuertoRico);
        color:var(--color-white);
    }

    @include respond-to(phone) { 
        background-color:var(--color-PuertoRico);
        color:var(--color-white);
    }
}


@media(max-width: 899px){

.foottab{margin-bottom: 20px;

    &:before{
        background: #f1f1f1;
    content: "";
    height: 8px;
    position: absolute;
    top: 10px;
    width: 2px;transform: rotate(45deg);right: 36px;
    }

    &:after{
            right: 31.5px;transform: rotate(-45deg);background: #f1f1f1;
    content: "";
    height: 8px;
    position: absolute;
    top: 10px;
    width: 2px;
    }

&.collapse{
    h5{cursor: pointer;}
    &:before{transform: rotate(-45deg);}
    &:after{transform: rotate(45deg); right: 31.5px;}
    ul {
        height: 0; opacity: 0;transition: max-height .3s ease-in,opacity .25s ease-in;
        overflow: hidden;
    }
}

ul{max-height: 1000px;
    opacity: 1;
    transition: max-height .3s ease-in,opacity .25s ease-in;
}
    
}

}


address{
        a{
            font-size:13px!important; margin-bottom: 10px;
        }
    }


#back_top {
  display: inline-block;
  background-color:rgba(155, 194, 204, 0.39);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

      &:after {
          content: "\f077";
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          font-size: 2em;
          line-height: 50px;
          color: #fff;
        }

      &:hover {
        cursor: pointer;
        background-color:rgba(155, 194, 204, 0.95); text-decoration: none;
        }

      &:active {
       background-color:rgba(155, 194, 204, 0.95);
      }

      &.show {
        opacity: 1;
        visibility: visible;
        }

    }