/* order detail*/
a#ordering-options,a#same-day-shipping,a#freight-policy,a#drop-shipments,a#payment-information,a#contract-pricing,a#return-policy {
    position: relative;
    top: -150px;
    pointer-events: none;
}