/* product page */ 

.product-container {
    .productFilter {
        color:#6b6b6b;

        i {
            display:inline-block;
        }
    }
}

.productWrap {
    background-color:var(--color-white);
    margin:13px;

    &-image {

    }

    &-title {
        color:var(--color-dark-blue);
        font-size:18px;
    }

    &-description {
        color:#3b3b3b;
        font-size:12px;
    }

    a {
        display:block;
        text-decoration:none;
    }


}