/* product page */ 

/*Product detail page slider style is in _slider.scss*/

.product-container {
    .productFilter {
        color:#6b6b6b;

        i {
            display:inline-block;
        }
    }
}

.productWrap {
    background-color:var(--color-white);
    margin:13px;

    // &-image {

    // }

    &-title {
        color:var(--color-dark-blue);
        font-size:18px;
    }

    &-description {
        color:#3b3b3b;
        font-size:12px;
    }

    a {
        display:block;
        text-decoration:none;
    }



}

.color-blue {
    color:var(--color-dark-blue);
}
.color-gray {
    color:#5f5f5f;
}

.btn-outline-blue {
    border-color:var(--color-dark-blue);
    color:var(--color-dark-blue);
    padding: 5px 15px;

    &:hover {
        color:var(--color-white);
        background-color:var(--color-dark-blue);
    }
}

.btn-filled-blue {
    color:var(--color-white);
    background-color:var(--color-dark-blue);
    border-color:var(--color-dark-blue);
    padding: 5px 15px;

    
    &:hover {
        color:var(--color-dark-blue);
        background-color:transparent;
    }
}

.mainTitle {
    color:var(--color-dark-blue);
    font-size:36px;
    font-weight: normal;
}