/* topbar */ 

.topbar {
    background-color:var(--color-black);
    color:var(--color-white);
    padding:8px 0 7px 0;
}


.printCatalog {
    padding-left:15px;
    &:before {
        content: "";
        width: 8px;
        height: 12px;
        border: 1px solid var(--color-picton-blue);
        position: absolute;
        left: 0;
        top: 3px;
    }
}