/* topbar */ 

.topbar {
  
background: rgb(85,202,182); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(85,202,182,1) 0%, rgba(74,151,196,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(85,202,182,1) 0%,rgba(74,151,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(85,202,182,1) 0%,rgba(74,151,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55cab6', endColorstr='#4a97c4',GradientType=1 ); /* IE6-9 */
;
    color:var(--color-white);
    padding:8px 0 7px 0;
}

.topinfo{
    @media(max-width: 379px){
        
    }
}

.printCatalog {color: var(--color-white); white-space: nowrap;
    padding-left:15px;
    &:before {
        content: "";
        width: 8px;
        height: 12px;
        border: 1px solid var(--color-black);
        position: absolute;
        left: 0;
        top: 3px;
    }
}