/* font custom 0001 */ 

$font-path-roboto:         "../fonts/robotocondensed" !default;
$font-path-slick:         "../fonts/slick" !default;

@font-face {
    font-family: 'robotoRegular';
    src: url('#{$font-path-roboto}/regular/robotocondensed-webfont.woff2') format('woff2'),
         url('#{$font-path-roboto}/regular/robotocondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoBold';
    src: url('#{$font-path-roboto}/bold/robotocondensed-bold.woff2') format('woff2'),
         url('#{$font-path-roboto}/bold/robotocondensed-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'robotoLight';
//     src: url('#{$font-path-roboto}/light/robotocondensed-webfont.woff2') format('woff2'),
//          url('#{$font-path-roboto}/light/robotocondensed-webfont.woff') format('woff');
//     font-weight: 200;
//     font-style: normal;
// }

/* slick font Icon */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('#{$font-path-slick}/slick.eot');
    src: url('#{$font-path-slick}/slick.eot?#iefix') format('embedded-opentype'), url('#{$font-path-slick}/slick.woff') format('woff'), url('#{$font-path-slick}/slick.ttf') format('truetype'), url('#{$font-path-slick}/slick.svg#slick') format('svg');
}


  
$body-text: 'Roboto Condensed', sans-serif; 
$body-text-letter-spacing: 0.02em;
$body-text-line-height: 1.4;

$title-text: 'Roboto Condensed', sans-serif; 
$title-text-letter-spacing: .4;

$title-text-alt: 'Roboto Condensed', sans-serif;
$title-text-letter-spacing: .4;

$roboto: 'Roboto', sans-serif;
$regular: 400;
$medium:500;






// Type face
@mixin text-style($type) {
    @if $type == 'title' {
      font-family: $title-text;
      letter-spacing: $title-text-letter-spacing;
    }

    @else if $type == 'title-alt' {
        font-family: $title-text-alt;
        letter-spacing: $title-text-letter-spacing;
        font-weight: 700;
  }
    
  @else if $type == 'body' {
    font-family: $body-text;
    letter-spacing: $body-text-letter-spacing;
    line-height: $body-text-line-height;
  }
}


body {
  @include text-style('body');
}

h1, .h1,
h2, .h2,
h3, .h3,  {
  @include text-style('title')
}

h4, .h4 {
  @include text-style('title-alt')
}


