@import 'theme/body';
@import 'theme/container';
@import 'theme/topbar';
@import 'theme/search';
@import 'theme/header';
@import 'theme/headerMobile';
@import 'theme/slider';
@import 'theme/bigProductButtons';
@import 'theme/homeProductAilments';
@import 'theme/homeBrands';
@import 'theme/pageHeading';
@import 'theme/productPage';
@import 'theme/pagination';
@import 'theme/leftSideBar';
@import 'theme/breadcrumb';
@import 'theme/government';
@import 'theme/resources';
@import 'theme/orderDetail';
@import 'theme/ohio-bwc-program';
@import 'theme/aboutOhio';
@import 'theme/companyNews';
@import 'theme/privacyPolicy';
@import 'theme/footer';
@import 'theme/responsive';


.pointer {
    cursor:pointer
}

.bg-gray-light {
    background-color:#eef4f5;
}

.bg-gray-dark {
    background-color:#dde9eb;
}

.bg-white {
    background-color:var(--color-white);
}

ul.list {
    padding-left: 20px;
    li {
        font-size: 15px;
        line-height: 36px;
        list-style-type: disc;
    }
}

ul.unlist {
    padding-left: 0;
    li {
        font-size: 15px;
        line-height: 36px;
    }
}

// test

.grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(490px,1fr));
    grid-auto-rows: 20px;

    &-item {
        background-color: #fff;
        border:1px solid #434342;
    }

    .title {
        background-color:#044d9f;
        color: #fff;
        text-transform:uppercase;
        font-weight:normal;
    }
  }
  
  ul.resource-list {
      li {
          a {
              font-size:15px;
              line-height:36px;
              color:#000;
              text-decoration:none;
          }
          border-bottom:1px solid #000;

          &:first-child:last-child,
          &:last-child {
            border-color:transparent;
          }
      }
  }

  